body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

nav {
    background-color: pink;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

.box {
    display: inline-block;
    background-color: pink;
    padding: 10px;
    margin: 10px;
}

.box img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: pink;
    padding: 10px;
}
